/* CSS HEX */
:root {
    --sunglow: #ffcb47ff;
    --indigo-dye: #344966ff;
    --vista-blue: #80a4edff;
    --emerald: #16c172ff;

    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0.5dvh;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
}

header {
    height: 13dvh;
    width: 100%;
    font-size: medium;
    display: flex;
    flex-direction: column;
}

h2 {
    display: flex;
    flex-direction: column;
    float: left;
    color: var(--vista-blue);

}

nav > a {
    text-decoration: none;
    color: black;
    margin: 0;
    overflow: hidden;
}

nav {
    width: 100%;
    background-color: #80a4edff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-radius: 0.3em;
}

nav > a:hover:not(.active) {
    font-weight: bold;
    text-decoration: underline;
    background-color: var(--sunglow);
    border-radius: 0.3em;
}

main {
    min-height: 85dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* the heading for each page */
main > h1 {
    display: flex;
    justify-content: center;
    padding: 0.5;
}




/* home page image styling */
main > img[src="./docs/creatorpic2.jpg"] {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 0.5em;
    margin: 2em;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--emerald);
    object-fit: cover;
}






/* projects page styling */
.card {
    box-shadow: 0 4em 8em 0 rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    text-align: center;
    border: 0.5px solid var(--indigo-dye);
    border-radius: 0.5em;
    background-color: var(--sunglow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    box-shadow: 0.2em 0.2em var(--indigo-dye);
}

.card:hover {
    background-color: var(--emerald);
    box-shadow: 0 0;
    transition: 0.5s;
}
#card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
    }
}

/* project page images styling */
img[src="./docs/project1.jpg"] {
    height: 200px;
    width: 350px;
    object-fit: cover;
}
img[src="./docs/project2.jpg"] {
    height: 200px;
    width: 350px;
    object-fit: cover;
}
img[src="./docs/project3.jpg"] {
    height: 200px;
    width: 350px;
    object-fit: cover;
}







/* contact page styling */
.contactContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

img[src="./docs/creatorpic3.JPG"] {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5em;
    max-width: 400px;
    padding: 0.5em;
    margin: 2em;
    display: flex;
    justify-content: center;
    background-color: var(--emerald);
}

.contact {
    font-weight: bold;
}

.resume > a:link {
    text-decoration: none;
    background-color: var(--sunglow);
    color: var(--indigo-dye);
    padding: 5px 10px;
    border-radius: 0.3em;
    box-shadow: 0.2em 0.2em var(--indigo-dye);

}

.resume > a:link:hover {
    font-weight: bold;
    text-decoration: underline;
    background-color: var(--emerald);
    box-shadow: 0 0;
}






/* about me page styling */
.aboutMe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img[src="./docs/creatorpic1.JPG"] {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5em;
    max-width: 400px;
    padding: 0.5em;
    margin: 2em;
    display: flex;
    justify-content: center;
    background-color: var(--emerald);
}






/* blog page styling */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* blog page images styling */
img[src="./docs/blogpost1.jpg"] {
    height: 200px;
    width: 350px;
    object-fit: cover;
}
img[src="./docs/blogpost2.jpg"] {
    height: 200px;
    width: 350px;
    object-fit: cover;
}
img[src="./docs/blogpost3.jpg"] {
    height: 200px;
    width: 350px;
    object-fit: cover;
}
img[src="./docs/blogpost4.jpg"] {
    height: 200px;
    width: 350px;
    object-fit: cover;
}
img[src="./docs/blogpost5.jpg"] {
    height: 200px;
    width: 350px;
    object-fit: cover;
}

h6 {
    color: rgb(159, 117, 10)
}





  /* footer styling */
footer {
    height: 2vh;
    color:rgba(0, 0, 0, 0.719);
    font-size: x-small;
    display: flex;
    align-items: flex-end;
}
