/* CSS HEX */
:root {
    --sunglow: #ffcb47ff;
    --battleship-gray: #928779ff;
    --indigo-dye: #344966ff;
    --vista-blue: #80a4edff;
    --emerald: #16c172ff;

    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0.5dvh;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
}

header {
    height: 13dvh;
    width: 100%;
    font-size: medium;
    display: flex;
    flex-direction: column;
}

h2 {
    display: flex;
    flex-direction: column;
    float: left;
    color: var(--vista-blue);

}

nav > a {
    text-decoration: none;
    color: black;
    margin: 0;
    overflow: hidden;
}

nav {
    width: 100%;
    background-color: #80a4edff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

nav > a:hover:not(.active) {
    font-weight: bold;
    /* background-color: rgba(128, 164, 237, 0.394); */
}

.active {
    background-color: var(--sunglow);
}

main {
    min-height: 85dvh;
    /* margin-top: 1.5em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* the heading for each page */
main > h1 {
    display: flex;
    justify-content: center;
    padding: 0.5;
}

/* the image on the home page */
main > img {
    /* height: 50dvh;
    width: auto; */
    width: 100%;
    height: auto;
    padding: 0.5em;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--emerald);
    object-fit: cover;
    height: 200px;
    width: 350px;
    object-fit: cover; 
}

a:link {
    text-decoration: none;
    color: black;
}



/* projects page styling */

.card {
    box-shadow: 0 4em 8em 0 rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    text-align: center;
    border: 0.5px solid var(--indigo-dye);
    border-radius: 0.3em;
    background-color: var(--sunglow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100dvh;
  }

.card:hover {
    background-color: var(--emerald);
}

#card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
    }
}


/* project 1 image styling */
img[src="./docs/project1.jpg"] {
    height: 200px;
    width: 350px;
    object-fit: cover;
    border-radius: 0.3;
}

/* project 2 image styling */
img[src="./docs/project2.jpg"] {
    height: 200px;
    width: 350px;
    object-fit: cover;
    border-radius: 0.3;
}

/* project 3 image styling */
img[src="./docs/project3.jpg"] {
    height: 200px;
    width: 350px;
    object-fit: cover;
    border-radius: 0.3;
}





  /* footer styling */
footer {
    height: 2vh;
    color:rgba(0, 0, 0, 0.719);
    font-size: x-small;
    display: flex;
    align-items: flex-end;
}

